html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: tan;
}
h1{
    font-size: 200px;
    color: black;
    text-align: center;

}
h2{
    font-size: 150%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'David Libre', serif;
}

h4{
    text-indent: 50px;
}

.centered-text{
    text-align: center;
}
